@charset "UTF-8";

:root {
    --vermelho: #f44336;
    --vermelho-claro: #f38981;
    --cinza: #616161;
    --cinza-claro: #f1f1f1;
}
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {background-color: var(--cinza-claro);}

/*Configuração do cabeçario*/
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: var(--vermelho);
    padding: 10px;
}

header h1 {display: inline;}

header span.material-symbols-outlined {
    align-self: center;    
    font-size: 2.5em;
}

header #search {color: var(--cinza);}

/*Menu de navegação*/
nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav span {
    transform: translateY(5px);
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover {
    background-color: var(--vermelho);
}

/*Configurações gerais*/
main h2 {
    font-weight: normal;
    font-size: 2em;
}

main p {
    margin-top: 20px;
    display: inline-block;
}

section form input {padding: 15px;}
section form .campo_de_texto {width: 100%;}
section form input::placeholder {font-size: 1.2em;}

section form input[type="submit"] {
    padding: 10px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
}

main section {padding: 10px 10px;}
span.material-symbols-outlined {cursor: pointer;}
section figure img {width: 100%;}
section figure p {margin: 0px;}

/*Primeira Section*/
section#sct_1 {
    padding: 0px;
    background-color: white;
}

section#sct_1 div {
    padding: 10px;
}

/*Formulario da primeira section*/
section#sct_1 form input[type="submit"] {
    background-color: var(--cinza);
    color: white;
}

/*Segunda Section*/
section#sct_2 {
    padding: 80px 10px 10px 10px;
}

/*Imagens da segunda section*/
section#sct_2 figure p {
    color: white;
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 1.8em;
}

/*Terceira Section*/
section#sct_3 article {
    background-color: white;
    margin-top: 20px;
}

section#sct_3 p.price {color: var(--cinza);}
section#sct_3 div {padding: 15px;}
section#sct_3 p.buy {transform: translatex(30px);}

/*Quarta Section*/

section#sct_4 article {
    background-color: dimgray;
    color: white;
    padding: 15px;
}

section#sct_4 form {margin: 15px 0px;}

section#sct_4 form input[type="submit"] {
    color: white;
    background-color: var(--vermelho-claro);
    border: none;
    margin: 10px 0px;
}

/*Quinta Section*/
ul#contatos {list-style-type: none;}

ul#contatos span.material-symbols-outlined {
    transform: translateY(5px);
    margin-right: 30px;
}

section#sct_5 form div {margin: 15px 0px;}

section#sct_5 input[type="submit"] {
    background-color: black;
    color: white;    
}

/*Cabeçario*/
footer {
    text-align: center;
    color: var(--cinza);
}

footer p {margin: 25px 0px;}
footer img {width: 25px;}
footer figure {display: inline-block;}
footer #credits {text-decoration: underline;}