@charset "UTF-8";

body {
    overflow-x: hidden;
}

/*Cabeçario*/
header {
    position: sticky;
    top: 0px;
}

/*Menu de navegação*/
nav ul li span.material-symbols-outlined {
    display: none;
}

nav ul li > div {
    display: block;
    top: 0px;
}

nav ul li > div div {
    display: inline-flex;
    margin: 0px 10px;
}

nav ul li > div {
    position: absolute;
    left: 90px;
}

nav ul li #login_button {
    display: flex;
    align-items: last baseline;
}

nav ul li #login_button a {
    color: #7c07b3;
    position: absolute;
    right: 50px;
}

/*Primeira Section*/
main section#sct-1 article {
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'titulo titulo cadastro cadastro';
    gap: 100px;
    align-items: center;
}

/*Terceira Section*/
main section#sct-3 article {
    display: flex;
    gap: 100px;
    align-items: center;
}

main sectioN#sct-3 article:nth-child(1) {
    flex-direction: row-reverse;
}

main section#sct-3 article img {
    padding: 50px;
}

/*Quarta Section*/
main section#sct-4 article:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    width: 1000px;
    margin: auto;
}

main section#sct-4 article:nth-child(2) > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    gap: 50px; 
}

main section#sct-4 article:nth-child(2) div div.pdr_nu {
    width: 100%;
}

/*Quinta Section*/
main section#sct-5 > article:nth-child(1), main section#sct-5 > article:nth-last-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

main section#sct-5 > article:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
}

main section#sct-5 aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section#sct-5 aside article:nth-child(1) h2 {font-size: 3em;}
main section#sct-5 aside article:nth-child(1) p {font-size: 2em;}
main section#sct-5 aside article:nth-child(1) p.sbm {font-size: 1em;}

/*Sexta Section*/
main section#sct-6 article > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

main section#sct-6 article > div > div {
    width: 100%;
    height: 600px;
}

/*Setima Section*/
main section#sct-7 article div {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*Rodapé*/
footer > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
